.slideshow {
  width: 100%;
  background: #f7eee3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slideshow .carousel3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.slideshow .carousel3 .swiper {
  max-width: 40rem;
  min-width: 25rem;
  height: 40rem;
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide1 {
  background-image: url("images/carousel3-1.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide2 {
  background-image: url("images/carousel3-2.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide3 {
  background-image: url("images/carousel3-3.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide4 {
  background-image: url("images/carousel3-4.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide5 {
  background-image: url("images/carousel3-5.png");
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.slideshow .carousel3 .swiper .swiper-button-prev {
  color: #ffffff;
}
.slideshow .carousel3 .swiper .swiper-button-next {
  color: #ffffff;
}
.slideshow .carousel3 .swiper.swiper2 {
  max-width: 20rem;
  min-width: 25rem;
  height: 40rem;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide#slide1 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide#slide2 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide#slide3 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide#slide4 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide#slide5 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide .heading {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide .heading h1 {
  text-align: left;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.slideshow .carousel3 .swiper.swiper2 .swiper-slide .text {
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #9e9e9e;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet-active {
  background-color: #2d2d2d;
}
.slideshow .carousel3 .swiper .controllers {
  position: absolute;
  display: grid;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px;
  width: 70px;
  height: 20px;
  top: 500px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-prev {
  color: #9e9e9e;
  width: 20px;
  height: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-prev::after {
  font-size: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-next {
  color: #9e9e9e;
  width: 20px;
  height: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-next::after {
  font-size: 20px;
}
@media screen and (min-width: 100px) {
  .d-xs-none {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .d-xs-none {
    display: block !important;
  }
}
