.carousel1 {
  background: #f7eee3;
}
.carousel1 .swiper {
  width: 100%;
  height: 600px;
}
.carousel1 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide1 {
  background-image: url("carousel1-images/1.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide2 {
  background-image: url("carousel1-images/1-1.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide3 {
  background-image: url("carousel1-images/2.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide4 {
  background-image: url("carousel1-images/2-2.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide5 {
  background-image: url("carousel1-images/3.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide6 {
  background-image: url("carousel1-images/3-2.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide7 {
  background-image: url("carousel1-images/4.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide8 {
  background-image: url("carousel1-images/4-1.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide9 {
  background-image: url("carousel1-images/5.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide10 {
  background-image: url("carousel1-images/5-1.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide11 {
  background-image: url("carousel1-images/6.png");
}
.carousel1 .swiper .swiper-wrapper .swiper-slide#slide12 {
  background-image: url("carousel1-images/6-1.png");
}
.carousel1 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
.carousel1 .swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.carousel1 .swiper .swiper-button-prev {
  color: #ffffff;
}
.carousel1 .swiper .swiper-button-next {
  color: #ffffff;
}
.slideshow {
  width: 100%;
  background: #f7eee3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slideshow .carousel2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 70%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: #f7eee3;
  padding: 5rem 0;
}
.slideshow .carousel2 .swiper {
  max-width: 40rem;
  min-width: 25rem;
  height: 40rem;
}
.slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide {
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide#slide13 {
  background-image: url("carousel2-images/1.png");
}
.slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide#slide14 {
  background-image: url("carousel2-images/2.png");
}
.slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide#slide15 {
  background-image: url("carousel2-images/3.png");
}
.slideshow .carousel2 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
.slideshow .carousel2 .swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.slideshow .carousel2 .swiper .swiper-button-prev {
  color: #ffffff;
}
.slideshow .carousel2 .swiper .swiper-button-next {
  color: #ffffff;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide#slide1 {
  background: none;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide#slide2 {
  background: none;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide#slide3 {
  background: none;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide .heading {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide .heading h1 {
  text-align: center;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.slideshow .carousel2 .swiper.swiper3 .swiper-slide .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 10rem;
}
.slideshow .carousel2 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #9e9e9e;
}
.slideshow .carousel2 .swiper .swiper-pagination-bullet-active {
  background-color: #2d2d2d;
}
.slideshow {
  width: 100%;
  background: #f7eee3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slideshow .carousel3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.slideshow .carousel3 .swiper {
  max-width: 40rem;
  min-width: 25rem;
  height: 40rem;
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide21 {
  background-image: url("carousel3-images/1.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide22 {
  background-image: url("carousel3-images/2.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide23 {
  background-image: url("carousel3-images/3.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide24 {
  background-image: url("carousel3-images/4.png");
}
.slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide#slide25 {
  background-image: url("carousel3-images/5.png");
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.slideshow .carousel3 .swiper .swiper-button-prev {
  color: #ffffff;
}
.slideshow .carousel3 .swiper .swiper-button-next {
  color: #ffffff;
}
.slideshow .carousel3 .swiper.swiper4 {
  max-width: 20rem;
  min-width: 25rem;
  height: 40rem;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #9e9e9e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide16 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide17 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide18 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide19 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide#slide20 {
  background: none;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide .heading {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide .heading h1 {
  text-align: left;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.slideshow .carousel3 .swiper.swiper4 .swiper-slide .text {
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #9e9e9e;
}
.slideshow .carousel3 .swiper .swiper-pagination-bullet-active {
  background-color: #2d2d2d;
}
.slideshow .carousel3 .swiper .controllers {
  position: absolute;
  display: grid;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px;
  width: 70px;
  height: 20px;
  top: 500px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-prev {
  color: #9e9e9e;
  width: 20px;
  height: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-prev::after {
  font-size: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-next {
  color: #9e9e9e;
  width: 20px;
  height: 20px;
}
.slideshow .carousel3 .swiper .controllers .swiper-button-next::after {
  font-size: 20px;
}
@media (min-width: 1700px) {
  .slideshow {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1400px) and (max-width: 1700px) {
  .slideshow {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .slideshow {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .slideshow .carousel2 {
    width: 100%;
  }
  .slideshow .carousel3 {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .slideshow {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .slideshow .carousel2 {
    width: 100%;
  }
  .slideshow .carousel2 .swiper {
    max-width: 30rem;
    height: 30rem;
  }
  .slideshow .carousel3 {
    width: 100%;
  }
  .slideshow .carousel3 .swiper {
    max-width: 30rem;
    height: 30rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .slideshow {
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .slideshow .carousel2 {
    height: 30rem;
    width: 100%;
    padding: 2rem 0;
  }
  .slideshow .carousel2 .swiper {
    max-width: 25rem;
    height: 25rem;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev {
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-button-next {
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-next::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    text-align: center;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    height: 3rem;
    font-size: 1rem;
  }
  .slideshow .carousel2 .swiper.swiper3 {
    height: 25rem;
  }
  .slideshow .carousel3 {
    width: 100%;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper {
    max-width: 25rem;
    height: 25rem;
  }
  .slideshow .carousel3 .swiper .controllers {
    top: 530px;
    left: 2.5rem;
    width: 100px;
  }
  .slideshow .carousel3 .swiper .controllers .swiper-button-prev::after {
    font-size: 30px;
  }
  .slideshow .carousel3 .swiper .controllers .swiper-button-next::after {
    font-size: 30px;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide {
    padding: 3rem;
  }
  .slideshow .carousel3 .swiper.swiper4 {
    max-width: 25rem;
    height: 25rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .carousel1 .swiper {
    height: 400px;
  }
  .carousel1 .swiper .swiper-button-prev {
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-prev::after {
    font-size: 80px;
  }
  .carousel1 .swiper .swiper-button-next {
    position: absolute;
    right: 1.5rem;
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-next::after {
    font-size: 80px;
  }
  .slideshow {
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .slideshow .carousel2 {
    width: 100%;
    padding: 0;
  }
  .slideshow .carousel2 .swiper {
    max-width: 22.5rem;
    min-width: 5rem;
    height: 22.5rem;
    padding-top: 2rem;
  }
  .slideshow .carousel2 .swiper .swiper-pagination-bullet {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #141414;
  }
  .slideshow .carousel2 .swiper .swiper-pagination-bullet-active {
    background-color: #2d2d2d;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev {
    margin-top: 0.1rem;
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-button-next {
    margin-top: 0.1rem;
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-next::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading {
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0 1.5rem;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
    font-size: 1rem;
  }
  .slideshow .carousel2 .swiper.swiper3 {
    height: 20rem;
  }
  .slideshow .carousel3 {
    width: 100%;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper {
    max-width: 25rem;
    height: 25rem;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper .controllers {
    top: 230px;
    left: -10px;
    width: 100px;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .heading {
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    font-size: 1.5rem;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .text {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  .slideshow .carousel3 .swiper.swiper4 {
    max-width: 20rem;
    min-width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 576px) {
  .carousel1 .swiper {
    height: 400px;
  }
  .carousel1 .swiper .swiper-button-prev {
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-prev::after {
    font-size: 80px;
  }
  .carousel1 .swiper .swiper-button-next {
    position: absolute;
    right: 1.5rem;
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-next::after {
    font-size: 80px;
  }
  .slideshow .carousel2 {
    width: 100%;
    padding: 0;
  }
  .slideshow .carousel2 .swiper {
    max-width: 25rem;
    height: 25rem;
    padding-top: 2rem;
  }
  .slideshow .carousel2 .swiper .swiper-pagination-bullet {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #141414;
  }
  .slideshow .carousel2 .swiper .swiper-pagination-bullet-active {
    background-color: #2d2d2d;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev {
    margin-top: 0.1rem;
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-prev::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-button-next {
    margin-top: 0.1rem;
    color: #ffffff;
  }
  .slideshow .carousel2 .swiper .swiper-button-next::after {
    font-size: 30px;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading {
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0 1rem;
  }
  .slideshow .carousel2 .swiper .swiper-wrapper .swiper-slide .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 2rem;
    font-size: 1rem;
  }
  .slideshow .carousel2 .swiper.swiper3 {
    height: 20rem;
  }
  .slideshow .carousel3 {
    width: 100%;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper {
    max-width: 25rem;
    height: 25rem;
    padding: 2rem 0;
  }
  .slideshow .carousel3 .swiper .controllers {
    top: 230px;
    left: -10px;
    width: 100px;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .heading {
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .heading h1 {
    font-size: 1.5rem;
  }
  .slideshow .carousel3 .swiper .swiper-wrapper .swiper-slide .text {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  .slideshow .carousel3 .swiper.swiper4 {
    max-width: 20rem;
    min-width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 320px) {
  .carousel1 .swiper {
    height: 400px;
  }
  .carousel1 .swiper .swiper-button-prev {
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-prev::after {
    font-size: 80px;
  }
  .carousel1 .swiper .swiper-button-next {
    position: absolute;
    right: 1.5rem;
    color: #ffffff;
  }
  .carousel1 .swiper .swiper-button-next::after {
    font-size: 80px;
  }
  .slideshow .carousel2 {
    width: 100%;
    padding: 0;
  }
  .slideshow .carousel2 .swiper {
    max-width: 20rem;
    min-width: 10rem;
    height: 25rem;
    padding-top: 2rem;
  }
  .slideshow .carousel3 .swiper {
    max-width: 20rem;
    min-width: 10rem;
    height: 25rem;
  }
}
@media screen and (min-width: 100px) {
  .d-xs-none {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .d-xs-none {
    display: block !important;
  }
}
