body {
  scroll-behavior: smooth;
  font-family: "Meta Pro", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}
html,
body {
  overflow-x: hidden !important;
}
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ergonomie_header_image_wrapper {
  justify-content: center;
}
.ergonomie_header_image {
  width: 90vw;
  height: auto;
  position: relative;
}
.ergonomie_main_header {
  font-size: 35px;
  font-weight: 700;
  font-family: "Meta Pro", sans-serif;
}
.red_spot {
  background-color: #ed2118;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 1px;
  right: -5px;
  z-index: 3;
}
.ergonomie_card {
  background-color: #fff;

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 10%;
  padding: 20px 60px;
}
.ergonomie_title {
  font-family: "Meta Pro", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.centered_paragraph {
  text-align: center;
  padding-bottom: 3rem;
  max-width: 70vw;
}
.centered_wrapper {
  justify-content: center;
}
.large_image {
  width: 80vw;
  height: auto;
  align-self: center;
}
.four_images_wrapper {
}
.small_image {
  width: 30vw;
  padding-bottom: 30px;
  padding-right: 30px;
}

.left_justified_text {
  text-align: left;
}
.block_text {
  padding: 3rem 3rem;
  text-align: left;
}
.halfscreen_image {
  width: 40vw;
  padding-bottom: 30px;
  padding-right: 30px;
}
.bottom_box {
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: #f8f8f8;
  position: relative;
}
.mini_image {
  width: 13vw;
  height: auto;
  padding: 10px 0px;
}
.red_button {
  background-color: #ed2118;
  border: none;
  color: #fff;
  padding: 10px 30px;
  position: absolute;
  font-size: 17px;
  bottom: 0%;
  right: 0%;
}
.red_button:hover {
  font-weight: 600;
}
.bottom_box_text {
  padding-left: 20px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 20px;
  font-weight: 400;
}
.small_title {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}

@media (max-width: 576px) {
  body {
    font-size: 15px;
  }
  .ergonomie_header_image {
    width: 100vw;
  }
  .ergonomie_card {
    top: 40%;
    padding: 10px 30px;
  }
  .red_spot {
    width: 15px;
    height: 15px;
  }
  .ergonomie_main_header {
    font-size: 17px;
  }
  .ergonomie_title {
    font-size: 17px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
  }
  .left_justified_text {
    padding: 2rem 2rem;
  }
  .centered_paragraph {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .small_image {
    width: 90vw;
  }
  .halfscreen_image {
    width: 90vw;
  }
  .block_rev {
    display: flex;
    flex-direction: column-reverse;
  }
  .bottom_box_wrapper {
    justify-content: space-between;
  }
  .bottom_box {
    font-size: 15px;

    flex-direction: column;
  }
  .mini_image {
    width: 40vw;
    padding: 0px 0px;
  }
  .small_title {
    font-size: 20px;
  }
  .bottom_box_text {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}
@media (min-width: 576px) {
  .ergonomie_card {
    top: 40%;
    padding: 10px 30px;
  }
  .red_spot {
    width: 15px;
    height: 15px;
  }
  .ergonomie_main_header {
    font-size: 17px;
  }
  .ergonomie_title {
    font-size: 17px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
  }
  .left_justified_text {
    padding: 2rem 2rem;
  }
  .centered_paragraph {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .small_image {
    width: 90vw;
  }
  .halfscreen_image {
    width: 90vw;
  }
  .block_rev {
    display: flex;
    flex-direction: column-reverse;
  }
  .bottom_box_wrapper {
    justify-content: space-between;
  }
  .bottom_box {
    font-size: 15px;

    flex-direction: column;
  }
  .mini_image {
    width: 40vw;
    padding: 0px 0px;
  }
  .small_title {
    font-size: 20px;
  }
  .bottom_box_text {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .ergonomie_card {
    top: 30%;
    padding: 10px 30px;
  }
  .red_spot {
    width: 15px;
    height: 15px;
  }
  .ergonomie_main_header {
    font-size: 17px;
  }
  .ergonomie_title {
    font-size: 17px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
  }
  .left_justified_text {
    padding: 2rem 2rem;
  }
  .centered_paragraph {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .small_image {
    width: 90vw;
  }
  .halfscreen_image {
    width: 90vw;
  }
  .block_rev {
    display: flex;
    flex-direction: column-reverse;
  }
  .bottom_box_wrapper {
    justify-content: space-between;
  }
  .bottom_box {
    font-size: 15px;

    flex-direction: column;
  }
  .mini_image {
    width: 40vw;
    padding: 0px 0px;
  }
  .small_title {
    font-size: 20px;
  }
  .bottom_box_text {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .ergonomie_card {
    top: 40%;
    padding: 10px 30px;
  }
  .red_spot {
    width: 15px;
    height: 15px;
  }
  .ergonomie_main_header {
    font-size: 17px;
  }
  .ergonomie_title {
    font-size: 17px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
  }
  .left_justified_text {
    padding: 2rem 2rem;
  }
  .centered_paragraph {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .small_image {
    width: 30vw;
  }
  .halfscreen_image {
    width: 40vw;
  }
  .block_rev {
    display: flex;
    flex-direction: row;
  }
  .bottom_box_wrapper {
    justify-content: space-between;
  }
  .bottom_box {
    font-size: 15px;

    flex-direction: row;
  }
  .mini_image {
    width: 40vw;
    padding: 0px 0px;
  }
  .bottom_box_text {
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 20px;
    font-weight: 400;
  }
  .small_title {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
  }
  .ergonomie_header_image {
    width: 90vw;
    height: auto;
    position: relative;
  }
  .ergonomie_main_header {
    font-size: 35px;
    font-weight: 700;
    font-family: "Meta Pro", sans-serif;
  }
  .red_spot {
    background-color: #ed2118;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 1px;
    right: -5px;
    z-index: 3;
  }
  .ergonomie_card {
    background-color: #fff;

    position: absolute;
    z-index: 2;
    top: 50%;
    left: 10%;
    padding: 20px 60px;
  }
  .ergonomie_title {
    font-family: "Meta Pro", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .centered_paragraph {
    text-align: center;
    padding-bottom: 3rem;
    max-width: 70vw;
  }
}
@media (min-width: 1200px) {
  .halfscreen_image {
    width: 40vw;
    padding-bottom: 30px;
    padding-right: 30px;
  }
  .bottom_box {
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: #f8f8f8;
    position: relative;
  }
  .mini_image {
    width: 13vw;
    height: auto;
    padding: 10px 0px;
  }
}

@media (min-width: 1400px) {
}
@media (min-width: 2000px) {
}
